@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 * License: none (public domain)
 * Changed from CSS to SASS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  border-width: 0;
}

body {
  margin-top: 102px;
  margin-bottom: 30px;
  background-color: #060717;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 24px;
  font-size: 14px;
}
@media (max-width: 700px) {
  body {
    margin-top: 72px;
  }
}

.body-container {
  margin-left: 62px;
  margin-right: 62px;
}
@media (max-width: 700px) {
  .body-container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

h1 {
  font-weight: 700;
  opacity: 0.71;
  font-size: 16px;
  line-height: 22px;
  margin-top: 13px;
  margin-bottom: 3px;
}

h2 {
  font-weight: 800;
  font-size: 34px;
  line-height: 40px;
}

h3 {
  color: #0CD2A3;
  font-size: 24px;
  line-height: 33px;
}

h4 {
  font-weight: 700;
  font-size: 12px;
  opacity: 0.45;
  text-transform: uppercase;
}

h5 {
  font-weighnt: 800;
  font-size: 24px;
  margin-bottom: 6px;
}

header {
  max-width: 833px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 115px;
}
@media (max-width: 700px) {
  header {
    padding-bottom: 80px;
  }
}

section {
  border-radius: 5px;
  padding: 30px 30px 0px 30px;
}
section div:last-child {
  margin-left: -30px;
}
@media (max-width: 700px) {
  section {
    margin-bottom: 20px;
  }
}

@media (min-width: 700px) {
  .long-cards {
    display: flex;
    justify-content: center;
  }
  .long-cards section:first-of-type {
    margin-right: 30px;
  }
}
.long-cards section div:last-child {
  background-size: 335px 360px;
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 360px;
}

.card-long {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 700px) {
  .card-long {
    max-width: 375px;
    height: 530px;
  }
}
@media (max-width: 700px) {
  .card-long {
    min-height: 590px;
  }
}

.large-card {
  max-width: 840px;
  min-height: 360px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 700px) {
  .large-card {
    min-height: 590px;
  }
}
.large-card div:first-child {
  max-width: 560px;
}
.large-card div:last-child {
  width: 280px;
}

@media (min-width: 700px) {
  .margin-top {
    margin-top: 30px;
  }
}
#profile {
  width: 122px;
  height: 100%;
  border-radius: 50%;
  border-color: #FFFFFF;
  border-style: solid;
  border-width: 2px;
}

#betclic {
  background-color: #CE000E;
}
#betclic div:last-child {
  background-image: url("img/project_image_betclic.png");
}

#poleemploi {
  background: linear-gradient(-34deg, #7132E1 10%, #3843E6 78%, #3644E6 78%);
}
#poleemploi div:last-child {
  background-image: url("img/project_image_pe.png");
}

#formations {
  background-color: #FFD100;
  color: #000000;
  background-image: url("img/project_formations.png");
}

#sunday {
  background-color: #E4015C;
}
#sunday div:last-child {
  background-image: url("img/project_image_sunday.png");
}

#explicite {
  background-color: #0CD2A3;
  color: #000000;
}
#explicite div:last-child {
  background-image: url("img/project_image_explicite.png");
}

#asura {
  background-color: #8B0BD2;
}
#asura div:first-child {
  max-width: 530px;
}
#asura div:last-child {
  background-image: url("img/cats.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
}

strong {
  font-weight: 700;
}

#pinterest {
  text-align: center;
  margin-top: 62px;
  margin-bottom: 61px;
}
#pinterest a {
  color: #0CD2A3;
  font-weight: 700;
  text-decoration-line: none;
  line-height: 19px;
  padding: 12px 22px 11px 21px;
  border: solid;
  border-width: 2px;
  border-radius: 23px;
  background: none;
  transition-property: color, border-color, background-color;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}
#pinterest a:hover {
  color: #000000;
  border-color: #0CD2A3;
  background-color: #0CD2A3;
}
#pinterest a:active {
  transition-property: none;
  background-color: #0ab58d;
  border-color: #0ab58d;
}

.container {
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
}
.container hr {
  border-top-width: 1px;
  border-color: #FFFFFF;
  max-width: 896px;
  opacity: 0.16;
  margin-bottom: 70px;
  margin-top: 0px;
}
.container hr:last-of-type {
  margin-top: 70px;
}
.container h4 {
  text-transform: none;
  color: #FFFFFF;
  opacity: 1;
  font-weight: 800;
  font-size: 22px;
}
.container li {
  display: inline;
}
.container li:not(:last-of-type)::after {
  content: " •";
}
.container li a {
  color: #E9E9E9;
  text-decoration-line: none;
}
.container li a:hover {
  color: #0CD2A3;
}

.out-of-cards {
  max-width: 900px;
  text-align: center;
}
.out-of-cards h4 {
  margin-bottom: 20px;
}

address {
  text-align: left;
  background-color: #0CD2A3;
  padding: 50px 62px;
  margin-top: 70px;
  margin-bottom: 29px;
}
@media (max-width: 700px) {
  address {
    margin-top: 42px;
    margin-bottom: 32px;
  }
}
address .container {
  max-width: 900px;
}
address .container h4 {
  margin-bottom: 0px;
}
address p {
  color: #05624C;
  font-weight: 600;
}
address a {
  color: #000000;
  font-weight: 700;
}
address a:hover {
  text-decoration-line: none;
}

footer {
  font-size: 12px;
}
footer div:first-child {
  max-width: 900px;
}
@media (max-width: 700px) {
  footer div:first-child {
    text-align: center;
  }
  footer div:first-child ul {
    margin-bottom: 6px;
  }
}
@media (min-width: 700px) {
  footer div:first-child {
    display: flex;
    justify-content: space-between;
  }
}
footer .container {
  color: #E9E9E9;
}
footer .container li:not(:last-of-type)::after {
  content: " |";
}
footer a {
  color: #E9E9E9;
  text-decoration-line: none;
}
footer a:hover {
  color: #0CD2A3;
}

/*# sourceMappingURL=style.css.map */
