@use 'sass:color'
@import 'reset'

//!\ ATTENTION! En cas de changement de couleur, vérifier dans le code JS si elles ne sont pas reprises /!\\
$dark-blue: #060717
$red: #CE000E
$pegradiant: linear-gradient(-34deg, #7132E1 10%, #3843E6 78%, #3644E6 78%)
$yellow: #FFD100
$pink: #E4015C
$green: #0CD2A3
$dark-green: #05624C
$purple: #8B0BD2
$white: #FFFFFF
$black : #000000
$light-grey: #E9E9E9
$font: Open Sans, Helvetica, Arial, sans-serif
$font-regular: 400
$font-semibold: 600
$font-bold: 700
$font-extrabold: 800
$breakpoint-medium: 750px
$breakpoint-medium-minus1: 749px
$breakpoint-small: 576px
$breakpoint-extra-small: 402px


body
  margin-top: 102px
  @media (max-width: $breakpoint-medium)
    margin-top: 72px
  margin-bottom: 30px
  background-color: $dark-blue
  font-family: $font
  font-weight: $font-regular
  color: $white
  line-height: 24px
  font-size: 14px

.body-container
  margin-left: 62px
  margin-right: 62px
  @media (max-width: $breakpoint-small)
    margin-left: 20px
    margin-right: 20px

h1
  font-weight: $font-bold
  opacity: 0.71
  font-size: 16px
  line-height: 22px
  margin-top: 13px
  margin-bottom: 3px
h2
  font-weight: $font-extrabold
  font-size: 34px
  line-height: 40px
h3
  color: $green
  font-size: 24px
  line-height: 33px
h4
  font-weight: $font-bold
  font-size: 12px
  opacity: 0.45
  text-transform: uppercase
h5
  font-weight: $font-extrabold
  font-size: 24px
  margin-bottom: 6px

header
  max-width: 833px
  text-align: center
  margin-left: auto
  margin-right: auto
  padding-bottom: 115px
  @media (max-width: $breakpoint-medium)
    padding-bottom: 80px

section
  border-radius: 5px
  padding: 30px 30px 0px 30px
  @media (max-width: $breakpoint-medium)
    margin-bottom: 20px

.long-cards
  @media (min-width: $breakpoint-medium)
    display: flex
    justify-content: center
    section:first-of-type
        margin-right: 30px
  section
    div:last-child
      background-size: 335px 360px
      background-repeat: no-repeat
      background-position: right bottom
      height: 360px
      margin-left: -30px
      // Code above to prevent background image over section radius
      -moz-border-radius: 5px
      -webkit-border-radius: 5px

.card-long
  @media (min-width: $breakpoint-medium)
    max-width: 375px
    min-height: 530px
  @media (max-width: $breakpoint-medium)
    min-height: 590px
  display: flex
  flex-direction: column
  justify-content: space-between

.large-card
  max-width: 840px
  min-height: 300px
  margin-left: auto
  margin-right: auto
  background-position-x: right
  background-repeat: no-repeat
  background-size: contain
  @media (min-width: $breakpoint-medium)
    display: flex
    justify-content: space-between
  div:first-child
    max-width: 560px
  div:last-child
    @media (max-width: $breakpoint-medium-minus1)
      height: 260px


@media (min-width: $breakpoint-medium)
  .margin-top
    margin-top: 30px

#profile
  width: 122px
  height: 100%
  border-radius: 50%
  border-color: $white
  border-style: solid
  border-width: 2px

#betclic
  background-color: $red
  div:last-child
    background-image: url('img/project_image_betclic.png')

#poleemploi
  background: $pegradiant
  div:last-child
    background-image: url('img/project_image_pe.png')

#formations
  background-color: $yellow
  color: $black
  div:last-child
    background-size: contain
    background-repeat: no-repeat
    background-position: center
  @media (min-width: $breakpoint-medium)
    div:last-child
      background-image: url('img/project_formations.png')
      margin-left: 27px
      margin-top: -30px
      flex: 0 0 18em
  @media (max-width: $breakpoint-medium-minus1)
    div:last-child
      background-image: url('img/project_formations_mobile.png')
      margin: 0 -30px
  @media (max-width: $breakpoint-extra-small)
    div:last-child
      height: 170px

      

#sunday
  background-color: $pink
  div:last-child
    background-image: url('img/project_image_sunday.png')

#explicite
  background-color: $green
  color: $black
  div:last-child
    background-image: url('img/project_image_explicite.png')

#asura
  background-color: $purple
  a
    color: $white
    &:hover
      text-decoration: none
  div:first-child
    @media (min-width: $breakpoint-medium)
      margin-bottom: 30px
  div:last-child
    position: relative
    flex: 0 0 22em
    @media (min-width: $breakpoint-medium)
      margin-left:20px
    svg
      position: absolute
      bottom: 0
      width: 99% !important
      height: 70% !important
      @media (max-width: $breakpoint-medium-minus1)
        height: 87% !important

strong
  font-weight: $font-bold

#pinterest
  text-align: center
  margin-top: 62px
  margin-bottom: 61px
  a
    color: $green
    font-weight: 700
    text-decoration-line: none
    line-height: 19px 
    padding: 12px 22px 11px 21px
    border: solid
    border-width: 2px
    border-radius: 23px
    background: none
    transition-property: color, border-color, background-color
    transition-duration: 500ms
    transition-timing-function: ease-out
    &:hover
      color: $black
      border-color: $green
      background-color: $green
    &:active
      transition-property: none
      background-color: darken($green, 6%)
      border-color: darken($green, 6%)
      

.container
  margin-left: auto
  margin-right: auto
  color: $white
  hr
    border-top-width: 1px
    border-color: $white
    max-width: 896px
    opacity: 0.16
    margin-bottom: 70px
    margin-top: 0px
    &:last-of-type
      margin-top: 70px
  h4
    text-transform: none
    color: $white
    opacity: 1
    font-weight: $font-extrabold
    font-size: 22px
  li
    display: inline
    &:not(:last-of-type)::after
      content: ' •'
    a
      color: $light-grey
      text-decoration-line: none
      &:hover
        color: $green

.out-of-cards
  max-width: 900px
  text-align: center
  h4
    margin-bottom: 20px

address
  text-align: left
  background-color: $green
  padding: 50px 62px
  margin-top: 70px
  margin-bottom: 30px
  .container
    max-width: 900px
    h4
      margin-bottom: 0px
  p
    color: $dark-green
    font-weight: 600
  a
    color: $black
    font-weight: 700
    &:hover
      text-decoration-line: none

footer
  font-size: 12px
  div:first-child
    max-width: 900px
    @media (max-width: $breakpoint-medium)
      text-align: center
      ul
        margin-bottom: 6px
    @media (min-width: $breakpoint-medium)
      display: flex
      justify-content: space-between

  .container
    color: $light-grey
    li
      &:not(:last-of-type)::after
        content: ' |'
  a
    color: $light-grey
    text-decoration-line: none
    &:hover
      color: $green